@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
	background-color: rgb(233, 233, 233);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

html{
	color: rgb(133, 133, 133);
	font-family: "Open Sans", sans-serif;
}

header{
	display: inline-block;
	background-color: cornflowerblue;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}

#logo_icon img{
	width: 30px;
	margin-top: 12px;
	margin-left: 10px;
}

#logo_word img{
	width: 120px;
	margin-left: 5px;
	margin-bottom: 2px;
}

form{
	background-color: rgb(255, 255, 255);
	padding: 50px;
	display: flex;
  	justify-content: center;
  	width: 300px;
  	margin: auto;
  	margin-top: 5%;
  	margin-bottom: 5%;
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	align-content: center;
  	border-radius: 15px;
}

input{
	background-color: rgb(245, 245, 245);
	border: none;
	margin: 10px 0px 10px 0px;
	padding: 10px;
	width: 320px;
	border-radius: 5px;
}

input:focus {
	background-color: lightyellow;
	border-color: transparent;
}

a{
	text-decoration: none;
	color: cornflowerblue;
}

button{
	font-weight: bold;
	border: none;
	width: 340px;
	padding: 10px;
	background-color: cornflowerblue;
	color: white;
	border-radius: 5px;
}

button:hover{
	cursor: pointer;
	background-color: rgb(53, 82, 192);
	transition: 0.50s;
}

.logo_image{
	margin-bottom: 20px;
}

.logo_image > img{
	width: 300px;
}

footer{
	background-color: rgb(15, 15, 15);
	height: 40px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

footer > p {
	margin-top: -0.05%;
	padding: 5px;
	padding-left: 10px;
}

#profile_photo{
	width: 100px;
	margin-top: 20px;
}
