<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PokeOnline: Trade | Home</title>
		<link rel="icon" type="image/x-icon" href="./assets/icon.png">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<header>
			<!--LEFT-->
			<div class = "burger_menu">
				<div id = "nav_menu">
					<i class="fa fa-bars"></i>
				</div>
				<!--BURGER MENU-->
				<div id ="burger_contents_div">
					<i class="fa fa-bars"></i>
					<img src = "./assets/logo_white.png" width = 120px class = "menu_logo">
					<div id = "burger_contents">
						<a href="#">Home</a>
						<a href="#">About Us</a>
						<a href="#">Contact Us</a>
						<a href="#">Terms of Service</a>
						<a href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
			
			<a href="#"><img src = "./assets/logo_white.png" width = 120px class = "logo"></a>

			<!--SEARCH BAR-->
			<form class = "search">
				<input type = "text" placeholder = "Search..." name = "search_bar" class = "search_box">
			</form>

			<!--RIGHT-->
			<div class = "dropdown_menu">
				<div id = "user_menu">
					<h3 id = "username">ADMIN</h3>

					<img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fef%2F07%2F74%2Fef0774a46a2116d3201c252459328540.jpg&f=1&nofb=1&ipt=d04eb33549878eeb0fb400fc70b8f54ba3400f5ad26b2c2606b6f9f1096466b5&ipo=images" id = "profile_photo">
				</div>

				<!-- DROPDOWN MENU -->
				<div id ="dropdown_contents">
					<a href="#">Profile</a>
					<a href="#">Inventory</a>
					<a href="#">Wishlist</a>
					<a href="#">Statistics</a>
					<a href="#">Settings</a>
					<a href="./login.html">Log out</a>
				</div>
			</div>
		</header>

		<footer>
			<p>©PokeOnline</p>
		</footer>
	</body>
</html>
