<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PokeOnline: Trade | Home</title>
		<link rel="icon" type="image/x-icon" href="./assets/icon.png">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<header>
			<!--LEFT-->
			<div class = "burger_menu">
				<div id = "nav_menu">
					<i class="fa fa-bars"></i>
				</div>
				<!--BURGER MENU-->
				<div id ="burger_contents_div">
					<i class="fa fa-bars"></i>
					<img src = "./assets/logo_white.png" width = 120px class = "menu_logo">
					<div id = "burger_contents">
						<a href="#">Home</a>
						<a href="#">About Us</a>
						<a href="#">Contact Us</a>
						<a href="#">Terms of Service</a>
						<a href="#">Privacy Policy</a>
					</div>
				</div>
			</div>
			
			<a href="#"><img src = "./assets/logo_white.png" width = 120px class = "logo"></a>

			<!--SEARCH BAR-->
			<form class = "search">
				<input type = "text" placeholder = "Search..." name = "search_bar" class = "search_box">
			</form>

			<!--POST BUTTON-->
			<a href = "#" class = "button">Submit</a>

			<!--RIGHT-->
			<div class = "dropdown_menu">
				<div id = "user_menu">
					<h3 id = "username">USERNAME</h3>

					<img src = "https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-social-media-user-portrait-176256935.jpg" id = "profile_photo">
				</div>

				<!-- DROPDOWN MENU -->
				<div id ="dropdown_contents">
					<a href="#">Profile</a>
					<a href="#">Inventory</a>
					<a href="#">Wishlist</a>
					<a href="#">Settings</a>
					<a href="./login.html">Log out</a>
				</div>
			</div>
		</header>

		<footer>
			<p>©PokeOnline</p>
		</footer>
	</body>
</html>
