<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PokeOnline: Trade | Login</title>
		<link rel="icon" type="image/x-icon" href="./assets/icon.png">
		<link rel="stylesheet" href="style.css">
		<script type="text/javascript" src="slideshow.jsp"></script>
	</head>

	<body>
		<form action="home.html" method="post" id="login_reg_form">
		  <div class="container">
		  	<div class="logo_image">
		  		<img src="./assets/logo_w_catchphrase.png">
		  	</div>
		    <input type="text" placeholder="Enter Trainer ID" name="trainerID" required>
		    <br>
		    <input type="password" placeholder="Enter Password" name="psw" required>
		    <br>
		    <br>
		    <div class="createAccount">
		    	<p>New to PokeOnline? <a href="register.html">Create Account</a></p>
			</div>
			<br>
			<div class="forgotPassword">
		    	<p><a href="#">Forgot Password</a></p>
			</div>
		    <br>
		    <button type="submit">Login</button>
		  </div>
		</form>
		<footer>
			<p>©PokeOnline</p>
		</footer>
	</body>
</html>
